<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="DBConnString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename='C:\Users\dell\documents\visual studio 2012\Projects\Search Framework\DataAccess\LocalDataBase.mdf';Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
